body {
  margin: 0;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; }

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 20px;
}

.nav-links a:hover {
  color: #ff4500;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.cart-count {
  background-color: #ff4500;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none; /* Hide on desktop */
  cursor: pointer;
  font-size: 24px;
  .cart {
    display: flex;
    align-items: center;
    position: relative;
  }

  .cart-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }

  .cart-count {
    background-color: #ff4500;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide on mobile */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
  .cart-icon {
    font-size: 16px;
  }
  .search-input {
    width: 40px;
  }
}
